.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: gainsboro;
}

.info {
  background-color: rgb(0, 0, 0,0.5);
  color: lime;
  border-radius: 20px;
  left: 1.25rem;
  position: fixed;
  top: 1.25rem;
  padding: 0.5rem ;
  z-index: 10;
}

/* .mapboxgl-canvas-container.mapboxgl-interactive, 
.mapboxgl-ctrl-group button.mapboxgl-ctrl-compass {
  cursor: default;
}

.leaflet-clickable {
  cursor: pointer;
} */
.mapboxgl-marker {
  cursor: pointer;
}

.mapboxgl-canvas-container.mapboxgl-interactive, 
.mapboxgl-ctrl-group 
button.mapboxgl-ctrl-compass {
  cursor: default;
}